.classpath
.project
.gradle
.settings
gen
bin
build
out
target
.idea
*.iml
*.hprof
.DS_Store
local.properties
gyft/local.properties
crashlytics-build.properties
com_crashlytics_export_strings.xml
release_notes.txt
gyft/mirror
